body{
    background-image: url(../images/loginbg.jpg);
    font-family:微软雅黑;
}
#header{

}
#footer{

}
#main-body{

}
#body-left h3,p,h1{
    color:#204d74;
}
#body-right{
    background-color: #d58512;
    filter: Alpha(Opacity=40); /* for IE */
    background-color: rgba(0, 0, 0, 0.4); /*for FF*/
    padding-top: 10px;
    padding-bottom: 15px;
    height: 280px;
    width: 400px;
}
#login-form{
    margin: 14px 10px 14px 10px;
}
#register-form{
    margin: 14px 10px 14px 10px;
}
.checked{
    border-bottom: 2px solid #337ab7;
}
#body-left{
    outline: 1px solid #4a4a4a;
    padding-left: 10px;
    padding-right: 20px;
    height: 280px;
}

#register-form{
    display: none;
}
a:visited{color: white}
a:hover{color: white}
a:active{color: #1B9AF7}